[submodule "modules/ros2_controllers"]
	path = modules/ros2_controllers
	url = git@github.com:ros-controls/ros2_controllers.git
	branch = jazzy
[submodule "modules/sdformat"]
	path = modules/sdformat
	url = git@github.com:gazebosim/sdformat.git
	branch = sdf13
[submodule "modules/robot_descriptions"]
	path = modules/robot_descriptions
	url = git@github.com:drfenixion/robot_descriptions.py.git
	branch = main
[submodule "modules/Dynamic_World_Generator"]
	path = modules/Dynamic_World_Generator
	url = git@github.com:drfenixion/Dynamic_World_Generator.git
	branch = main
